[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MSnbase"]
	path = MSnbase
	url = https://github.com/lgatto/msnbase
[submodule "pRoloc"]
	path = pRoloc
	url = https://github.com/lgatto/proloc
[submodule "pRolocGUI"]
	path = pRolocGUI
	url = https://github.com/lgatto/prolocgui
[submodule "qcmetrics"]
	path = qcmetrics
	url = https://github.com/lgatto/qcmetrics
[submodule "rols"]
	path = rols
	url = https://github.com/lgatto/rols
[submodule "rpx"]
	path = rpx
	url = https://github.com/lgatto/rpx
[submodule "sequences"]
	path = sequences
	url = https://github.com/lgatto/sequences
[submodule "synapter"]
	path = synapter
	url = https://github.com/lgatto/synapter
