[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sequences"]
	path = sequences
	url = https://github.com/lgatto/sequences
	shallow = true
	registered = true
[submodule "rpx"]
	path = rpx
	url = https://github.com/lgatto/rpx
	shallow = true
	registered = true
[submodule "synapter"]
	path = synapter
	url = https://github.com/lgatto/synapter
	shallow = true
	registered = true
